In [1]:
import numpy as np
import pandas as pd

In [6]:
oo2013 = pd.read_csv('../../Data/Data/R301_OO/OO2013.csv', dtype=str)

In [7]:
cd = pd.read_csv('../../Data/Data/CD.csv', dtype=str)

In [9]:
print(oo2013.columns)
print(len(oo2013))

Index(['FEE_YM', 'APPL_TYPE', 'HOSP_ID', 'APPL_DATE', 'CASE_TYPE', 'SEQ_NO',
       'ORDER_TYPE', 'DRUG_NO', 'DRUG_USE', 'DRUG_FRE', 'UNIT_PRICE',
       'TOTAL_QTY', 'TOTAL_AMT', 'SEQ'],
      dtype='object')
3537730

In [10]:
print(cd.columns)
print(len(cd))

Index(['FEE_YM', 'APPL_TYPE', 'HOSP_ID', 'APPL_DATE', 'CASE_TYPE', 'SEQ_NO',
       'CURE_ITEM_NO1', 'CURE_ITEM_NO2', 'CURE_ITEM_NO3', 'CURE_ITEM_NO4',
       'FUNC_TYPE', 'FUNC_DATE', 'ID_BIRTHDAY', 'ID', 'ACODE_ICD9_1',
       'ACODE_ICD9_2', 'ACODE_ICD9_3', 'ICD_OP_CODE', 'DRUG_DAY', 'MED_TYPE',
       'ID_SEX'],
      dtype='object')
9464315

In [23]:
cd_ = cd[cd['ACODE_ICD9_1'] == '465.9']
cd_ = cd_[cd_['ID_SEX'] == 'M']

In [24]:
print(len(cd_))

323071

In [25]:
pk = ['FEE_YM', 'APPL_TYPE', 'HOSP_ID', 'APPL_DATE', 'SEQ_NO', 'CASE_TYPE']
oo_cd = pd.merge(oo2013, cd_, on=pk)

In [26]:
print(len(oo_cd))

94728

In [27]:
variables = ['ID_SEX', 'ID_BIRTHDAY', 'ACODE_ICD9_1', 'DRUG_NO', 'APPL_DATE']
oo_cd = oo_cd[variables]

oo_cd.columns = ['G', 'A', 'D', 'M', 'AD']
oo_cd.head()

   G           A      D           M        AD
0  M  1995-03-01  465.9      00109C  20130206
1  M  1995-03-01  465.9  A008907100  20130206
2  M  1995-03-01  465.9  A0449771G0  20130206
3  M  1995-03-01  465.9  A045972100  20130206
4  M  1937-09-01  465.9      00109C  20130206

In [29]:
# from tqdm import tqdm

def get_age(birthday, appl_date):
    # Calculate the age from birthday to apply date
    # [:4] -> return the 4 first digits as the year
    return int(appl_date[:4]) - int(birthday[:4])

ages = oo_cd['A'].values
appl_dates = oo_cd['AD'].values
ages_range = []

for i in (range(len(ages))):
    if type(ages[i]) == str:
        age = get_age(ages[i], appl_dates[i])
        age_text = '>65'
        if age < 18:
            age_text = '<18'
        elif age <= 30:
            age_text = '18<=30'
        elif age <= 50:
            age_text = '31<=50'
        elif age <= 65:
            age_text = '51<=65'
        else:
            age_text = '>65'

        ages_range.append(age)

oo_cd['A'] = ages_range

In [30]:
oo_cd = oo_cd.drop(columns='AD')
oo_cd.head()

   G   A      D           M
0  M  18  465.9      00109C
1  M  18  465.9  A008907100
2  M  18  465.9  A0449771G0
3  M  18  465.9  A045972100
4  M  76  465.9      00109C

In [32]:
oo_cd_10 = oo_cd[oo_cd['A'] == 10]
print(len(oo_cd_10))
oo_cd_10.head()

1507

     G   A      D           M
261  M  10  465.9      00116C
262  M  10  465.9         MA1
263  M  10  465.9  A018091100
264  M  10  465.9  A038462100
265  M  10  465.9  AC12051100